@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat Variable", sans-serif;
}

.kaushan {
  font-family: "Kaushan Script", cursive;
}

.hero-bg {
  background-image: url("https://www.rappler.com/tachyon/r3-assets/AF9EF9F058504773987B6BEC9EB74F9A/img/111FC201C16D46E2ABEFA028756F7BE7/la-trinidad-benguet-art-house-20160623-003.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
