@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat Variable", sans-serif;
}

.kaushan {
  font-family: "Kaushan Script", cursive;
}

.hero-bg {
  background-image: url("hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
